<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
    <div>
          <div id="header"><h2>Contact Form</h2></div>
            <div id="headerContainer">
                <form #form="ngForm" id="contactContainer">
                    <div id="row">
                        <label for="name">Name</label><br>
                        <input type="text" id="name" name="name" [(ngModel)]="newContact.name" required/>
                    </div>
                    <div id="row">
                        <label for="email">E-mail</label><br>
                        <input type="email" id="email" name="email" [(ngModel)]="newContact.email" required/>
                    </div>
                    <div id="row">
                        <label for="phone">Phone Number</label><br>
                        <input type="tel" id="phone" name="phone" [(ngModel)]="newContact.phoneNumber" required/>
                    </div>
                    <div id="row">
                        <label for="image">Image URL</label><br>
                        <input type="url" id="image" name="image" accept="image/*" [(ngModel)]="newContact.image" required>
                    </div>
                    <button id="submit" (click)="addContact(form)">Submit New Contact</button>
                </form>
           </div>
      </div>    
      <div id="table-container">
      <table >
        <thead id="table-header">
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone Number</th>
            <th>Image</th>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.phoneNumber}}</td>
                <td><img src={{contact.image}} alt="contact-image" width="20px" height="20px"/></td>
            </tr>
        </tbody>
    </table>
    </div>  
</body>
</html>